body{
  max-width: 1040px;
  margin: 0 auto;
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-3);
}
*{
  color: #202020;
}
h1{
  font-family: 'Panchang', sans-serif;
  font-weight: 700;
  font-size: 90px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
p{
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
img{
  width: 100%;
  max-height: 700px;
  object-fit: scale-down;
}

a>svg{
  width: 50px;
  position: -webkit-sticky;
  position: fixed;
  top: 22px;
  left: 22px;
  -webkit-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}
a>svg:hover{
  left: 20px;
}

@media (max-width: 768px){ h1{ font-size: 50px; } }

@media (max-width: 480px){ h1{ font-size: 40px; } }