:root{
  --color-101: var(--color-5);
  --color-102: var(--color-1);
  --color-103: var(--color-4);
  --color-104: var(--color-3);
}
body {
  
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-104);
}
.wrap{
  max-width: 1040px;
  margin: 0 auto;
}
* {
  color: var(--color-101);
  z-index: 1;
}
a{
  color: var(--color-101);
}
h1 {
  font-family: 'Panchang', sans-serif;
  font-weight: 700;
  font-size: 130px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: var(--color-102);
  grid-row-start: 1;
  grid-column-start: 1;
}

.title-holder{
  position: absolute;
  top:50%;
  left:0;
  display: flex;
  white-space: nowrap;
  width: 100%;
  
}

.left-scroller{
  top: calc(50% - 172px);
}

.title{
  display: inline-block;
  padding: 0 2rem; 
}
/* .title-holder{
  display: grid;
  grid-template-row: 1fr;
  grid-template-columns: 1fr;
}
.outline{
  color: #00000000;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--color-102);
  z-index: 100;
  grid-row-start: 1;
} */
h2{
  color: var(--color-101);
}
p {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
img {
  width: 100%;
  max-height: 700px;
  object-fit: scale-down;
  /* margin-top: 40px; */
}
.main-image{
  z-index: 2 !important; 
}
.return-home{
  width: 50px;
  z-index: 100;
}
.return-home > svg {
  width: 50px;
  position: fixed;
  top: 22px;
  left: 22px;
  transition: left 0.1s ease-in-out;
}
.return-home > svg:hover {
  left: 20px;
}
rect {
  fill: var(--color-101);
}
circle {
  stroke: #0000;
}

.img-holder{
  position: relative;
  height: 90vh;
  width: 100%;
  display: block;
}

.no-images{
  height: 90vh;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.single-image {
  height: 90vh;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.carousel {
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%;
  flex-shrink: 0;
}

.carousel-controls {
  position: absolute;
  top: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.carousel-controls button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.category-item{
  background-color: var(--color-101);
  color: var(--color-104);
  border-radius: 50px;
  padding: 5px 11px;
  margin-left: 10px;
}

.item-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.item-container {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
  width: 100%;
  height: 30px;
  margin: 5px;
  font-size: 24px;
}
.item-link {
  display: block;
  position: absolute;
  text-decoration: none;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}
.item-link.first {
  transform: translateY(0);
  color: var(--color-102);
}
.item-link.second {
  transform: translateY(100%);
  color: var(--color-102);
}
.item-container:hover .item-link.first {
  transform: translateY(-100%);
}
.item-container:hover .item-link.second {
  transform: translateY(0);
}
.item-link.current {
  font-weight: bold !important;
}
#itemDetail {
  margin-top: 20px;
  margin-bottom: 50px;
}
footer{
  margin-top: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .main-image{
    animation: 1s ease-out 0s 1 dropDownFromTheTop;
  }

  .categories, .description {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  .item-container{
    animation: inFromTheLeft both;
    animation-timeline: view(90% 0%);
  }

  .title{
    animation: scroll-right-infinite both;
    animation-timeline: view(0% 0%);
    /* animation: scroll-right-infinitex 2.5s ease-out 1
              ,scroll-right-infinite 15s 2.5s linear infinite;  */
  }
  
  .left-scroller > .title {
    animation: scroll-left-infinite both;
    animation-timeline: view(0% 0%);
    /* animation: scroll-left-infinitex 2.5s ease-out 1
              ,scroll-left-infinite 15s 2.5s linear infinite;  */
  }
  
  @keyframes scroll-right-infinitex {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-400%);
    }
  }
  
  @keyframes scroll-left-infinitex {
    0% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0%);
    }
  }
  
  @keyframes scroll-right-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
  }
  
  @keyframes scroll-left-infinite {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
  }

  /* .title-holder{
    animation: mainImageAnimation both;
    animation-timeline: view(40% 70%);
  }

  @keyframes mainImageAnimation {
    0% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }
  } */

}
@media (max-width: 768px) {
  h1 {
      font-size: 50px;
  }
  .main-image{
    top: 40px;
  }
}
@media (max-width: 480px) {
  h1 {
      font-size: 40px;
  }
  .main-image{
    top: 33px;
  }
}