/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

:root {
  --color-1: #a3a7c0;
  --color-2: #a3a7c07a;
  --color-3: #252733;
  --color-4: #a3a7c0b3;
  --color-5: #d8ddfc;
}

::-moz-selection { /* Code for Firefox */
  color: var(--color-5);
  background: var(--color-3);
}

::selection {
  color: var(--color-3);
  background: var(--color-1);
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a7c01a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a3a7c07a; 
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-1); 
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-3);
  color: var(--color-1);
  max-width: 1920px;
}

/* .background{
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: -1;
} */

a {
  text-decoration: none;
  color: var(--color-1);
}

rect {
  fill: var(--color-1);
}

circle {
  stroke: var(--color-1);
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #00000000;
}

.holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.name {
  font-family: 'Panchang', sans-serif;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.name > span {
  transition: transform 0.3s ease-in-out;
}

.name:hover .name-1 {
  transform: translateY(-42px);
}

.name:hover .name-2 {
  transform: translateY(-42px);
}

.menu {
  display: flex;
  gap: 20px;
}

.menu > a {
  color: var(--color-1);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  display: flex;
  flex-direction: column;
}

.menu > a > span {
  transition: transform 0.3s ease-in-out;
}

.menu > a:hover .menu-item-2 {
  transform: translateY(-20px);
}

.menu > a:hover .menu-item-1 {
  transform: translateY(-20px);
}

.landing-page {
  height: 100vh;
  max-width: 1040px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > h1 {
  font-family: 'Panchang', sans-serif;
  font-size: 112px;
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.barcode {
  font-family: 'Libre Barcode 128';
  font-size: 80px;
  transform: rotate(-90deg);
  position: absolute;
  left: -60px;
}

.scroll {
  transform: rotate(90deg);
  position: absolute;
  right: -20px;
  animation: bob 1.9s ease-in-out infinite;
}

@keyframes bob {
  0% {
    transform: translateY(0px) rotate(90deg);
  }
  50% {
    transform: translateY(10px) rotate(90deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

#about {
  padding: 200px 20px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about > h4, #about > p {
  padding: 0 clamp(2rem, 5vw, 8rem);
  margin: 0;
}

#about > h4 {
  font-size: 60px;
}

.container {
  padding: 0px 20px 20px 20px;
}

.search-and-filter {
  padding-top: 24px;
  top: 0;
  background-color: #00000000;
  z-index: 1;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-icon {
  margin-bottom: 20px;
  padding-bottom: 14px;
  padding-right: 10px;
}

#searchBar {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid var(--color-2);
  background-color: transparent;
  color: var(--color-1);
}

#searchBar::placeholder {
  color: var(--color-2);
}

#searchBar:focus::placeholder {
  color: var(--color-1);
}

#searchBar:focus {
  outline: none;
  border-bottom: 1px solid var(--color-1);
}

#categoryDropdown {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  border: 0px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
  background-color: transparent;
  color: var(--color-1);
}

#categoryDropdown:focus {
  outline: none;
  border-bottom: 1px solid var(--color-1);
}

#categoryDropdown option {
  background-color: var(--color-3);
  color: var(--color-1);
  border: none;
}

#categoryDropdown option:hover {
  background-color: var(--color-1);
  color: var(--color-3);
}

#itemList {
  list-style-type: none;
  padding: 0;
}

#itemList > a > li {
  font-family: 'Panchang', sans-serif;
  font-weight: 700;
  font-size: 110px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.item-container {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 132px;
}

.item-front, .item-back {
  transition: transform 0.3s ease-in-out;
}

.item-front {
  transform: translateY(0);
}

.item-back {
  transform: translateY(100%);
}

.item-container:hover .item-back {
  transform: translateY(0);
}

.item-container:hover .item-front {
  transform: translateY(-100%);
}

.svg-top-align {
  vertical-align: text-top;
  padding-top: 20px;
}

#loader {
  display: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#skills{
  padding: 200px 20px;
}



footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

#contact {
  padding: 200px 20px;
}

.contact-holder > a {
  display: block;
  height: 76px;
  width: 400px;
  overflow-y: hidden;
  position: relative;
}

.num1, .num2 {
  font-size: 60px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.num1 {
  transform: translateY(0);
}

.num2 {
  transform: translateY(100%);
}

.contact-holder > a:hover .num1 {
  transform: translateY(-100%);
}

.contact-holder > a:hover .num2 {
  transform: translateY(0);
}

@media (prefers-reduced-motion: no-preference) {

  .name, .menu-btn{
    animation: 1s ease-out 0s 1 dropDownFromTheTop;
  }
  .menu a:nth-child(1){
    animation: 0.5s ease-out 0s 1 dropDownFromTheTop;
  }
  .menu a:nth-child(2){
    animation: 1s ease-out 0s 1 dropDownFromTheTop1;
  }
  .menu a:nth-child(3){
    animation: 1.5s ease-out 0s 1 dropDownFromTheTop2;
  }


  @keyframes dropDownFromTheTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes dropDownFromTheTop1 {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    33.33% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes dropDownFromTheTop2 {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    66.66% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .hero{  
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .barcode{
    animation: 1s ease-out 0s 1 barcodeAnimation;
  }

  @keyframes barcodeAnimation {
    0% {
      transform: rotate(-90deg) translateY(-100%);
    }
    100% {
      transform: rotate(-90deg) translateY(0);
    }
  }

  .scroll{
    animation: 2.1s ease-out 0s 1 scrollIndecatorAnimation, bob 1.9s ease-in-out infinite;
  }

  @keyframes bob {
    0% {
      transform: translateY(0px) rotate(90deg);
    }
    50% {
      transform: translateY(10px) rotate(90deg);
    }
    100% {
      transform: translateY(0px) rotate(90deg);
    }
  }
  @keyframes scrollIndecatorAnimation {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .item-container{
    animation: inFromTheBottomAndLeft both;
    animation-timeline: view(80% 0%);
  } 
  .search-and-filter, .contact-holder>a{
    animation: inFromTheLeft both;
    animation-timeline: view(90% 0%);
  }
  .mini-title{
    animation: fadeIn both;
    animation-timeline: view(70% 10%);
  }
  footer>*{
    animation: inFromTheLeft both;
    animation-timeline: view(99% 0%);
  }
  .footer-right{
    animation: inFromTheRight both;
    animation-timeline: view(99% 1%);
  }


  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    75%{
      opacity: 0.3;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes inFromTheBottomAndLeft {
    from{
      transform: translateY(1000px) translateX(-1000px);
      -webkit-filter: blur(5px);
              filter: blur(5px);
    }
    to{
      transform: translateY(0px);
    }
  }
  @keyframes inFromTheLeft {
    from{
      /* opacity: 0;
      -webkit-filter: blur(5px);
              filter: blur(5px); */
      transform: translateX(-300px)
                ;

    }
  }
  @keyframes inFromTheRight {
    from{
      transform: translateX(300px);
    }
    to{
      transform: translateX(0px);
    }
  }

}

.nav{
  overflow: hidden;
}

.menu-btn{
  height: 14px;
  padding: 10px 2px;
}

.hamburger {
  display: none;
  cursor: pointer;
  background: var(--color-1);
  height: 4px;
  width: 35px;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
.hamburger:after{
  content: '';
  display: block;
  position: relative;
  top: 10px;
  background: var(--color-1);
  height: 4px;
  width: 30px;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

.hamburger.active{
  width: 30px;
  transform: rotate(45deg);
}

.hamburger.active:after{
  transform: 
    translateY(-10px) 
    rotate(-90deg);
}

/* Tablets and below */
@media screen and (max-width: 1080px) {
  body {
    overflow-x: hidden;
    max-width: 1080px;
  }
  .hero > h1 {
    font-size: 90px;
  }
  .barcode {
    font-size: 60px;
    left: -50px;
  }
  #about > h4 {
    font-size: 50px;
  }
  #about {
    padding-bottom: 400px;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}

/* Large mobile phones and below */
@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
    max-width: 720px;
  }
  .hero > h1 {
    font-size: 60px;
  }
  .barcode {
    font-size: 40px;
    left: -40px;
  }
  #about > h4 {
    font-size: 40px;
  }
  #about {
    padding-bottom: 300px;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .holder {
    flex-direction: row;
    gap: 10px;
  }
  .menu.active {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    right: 15px;
    top: 70px;
    z-index: 1;
  }
  .menu > a {
    text-align: right;
  }
  
  #searchBar, #categoryDropdown {
    font-size: 18px;
  }

  #itemList > div > li {
    font-size: 50px;
  }

  .item-container {
    height: 67px;
  }

  .svg-top-align {
    transform: scale(0.5) !important;
    padding-top: 5px;
  }

  .other-svg {
    transform: scale(0.7) !important;
    padding-top: 5px;
  }

  .num-holder {
    height: 18px;
  }
}

@media (max-width: 480px) {
  body{
    overflow-x: hidden;
    max-width: 480px;
  }
  .name{ height: 26px; }
  .name:hover .name-1 {
    transform: translateY(-26px);
  }
  .name:hover .name-2 {
    transform: translateY(-26px);
  }
  .hero > h1 {
    font-size: 40px;
  }
  .barcode {
    font-size: 30px;
    left: -30px;
  }
  #about > h4 {
    font-size: 30px;
  }
  #about {
    padding-bottom: 200px;
  }
  .name > span {
    font-size: 20px;
  }
  .menu > a {
    font-size: 20px;
    height: 25px;
  }
  #itemList > div > li {
    font-size: 80px;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
    height: 3px;
    width: 25px;
  }
  .hamburger:after{
    height: 3px;
    width: 20px;
    position: relative;
    top: 10px;
  }

  .hamburger.active{
    width: 22px;
  }

  .hamburger.active:after{
    width: 22px;
  }

  .menu.active {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    right: 15px;
    top: 70px;
    z-index: 1;
  }
  .menu > a {
    text-align: right;
  }  
  
  #searchBar, #categoryDropdown {
    font-size: 16px;
  }

  #itemList > div > li {
    font-size: 40px;
  }

  .item-container {
    height: 53px;
  }

  .svg-top-align {
    display: none;
  }

  .other-svg {
    display: none;
  }

  .num-holder {
    height: 15px;
  }
}