@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

:root {
  --color-1: #202020;
  --color-2: #2020207a;
  --color-3: #6adbbc;
  --color-4: #202020b3;
  --color-5: #eee;

  /* 
  #eeeeee
  #e7eeee
  #202020
  #dedede
  #044440
  #304d51
  #29c276
  #c22929
  #2966c2
  #ff4400 
  */
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}



html,body{
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-3);
  color: var(--color-1);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 1920px;
}

a{ text-decoration: none; color: var(--color-1); }

rect {
  fill: var(--color-1);
}
circle {
  stroke: var(--color-1);
}

.nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: var(--color-3);
}
.holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1040px; */
  padding: 0 20px;
  width: 100%;
}

.name{
  font-family: 'Panchang', sans-serif;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  display: flex;
  flex-direction: column;
}
.name>span{
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.name:hover .name-1{
  -webkit-transform: translateY(-42px);
          transform: translateY(-42px);
}
.name:hover .name-2{
  -webkit-transform: translateY(-42px);
          transform: translateY(-42px);
}

.menu{
  display: flex;
  gap: 20px;
}
.menu>a{
  color: var(--color-1);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  display: flex;
  flex-direction: column;
}

.menu>a>span {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu>a:hover .menu-item-2 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.menu>a:hover .menu-item-1 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.landing-page{ 
  height: 100vh; 
  max-width: 1040px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center
}

.hero>h1{
  font-family: 'Panchang', sans-serif;
  font-size: 112px;
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.barcode{
  font-family: 'Libre Barcode 128';
  font-size: 80px;
  transform: rotate(-90deg);
  position: absolute;
  left: -60px;
}
.scroll{
  transform: rotate(90deg);
  position: absolute;
  right: -20px;
  animation: bob 1.9s ease-in-out infinite;
}

@keyframes bob {
  0% {
    transform: translateY(0px) rotate(90deg);
  }
  50% {
    transform: translateY(10px) rotate(90deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

#about{
  padding: 200px 20px;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about > h4, #about > p {
  padding: 0 clamp(2rem, 5vw, 8rem); 
  margin: 0;
}

#about > h4 {
  font-size: 60px;
}

.container {
  padding: 0px 20px 20px 20px;
}

.search-and-filter {
  /* position: -webkit-sticky;
  position: sticky; */
  padding-top: 24px;
  top: 0;
  background-color: var(--color-3);
  z-index: 1;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.search-icon {
  margin-bottom: 20px;
  padding-bottom: 14px;
  padding-right: 10px;
}

#searchBar {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid var(--color-2);
  background-color: transparent;
  color: var(--color-1);
}

#searchBar::placeholder {
  color: var(--color-2);
}

#searchBar:focus::placeholder {
  color: var(--color-1);
}

#searchBar:focus {
  outline: none;
  border-bottom: 1px solid var(--color-1);
}

#categoryDropdown {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  border: 0px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
  background-color: transparent;
  color: var(--color-1);
}

#categoryDropdown:focus {
  outline: none;
  border-bottom: 1px solid var(--color-1);
}

#categoryDropdown option {
  background-color: var(--color-3);
  color: var(--color-1);
  border: none;
}

#categoryDropdown option:hover {
  background-color: var(--color-1);
  color: var(--color-3);
}

#itemList {
  list-style-type: none;
  padding: 0;
}

#itemList > div > li {
  font-family: 'Panchang', sans-serif;
  font-weight: 700;
  font-size: 110px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.item-container {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 132px;
}

.item-front, .item-back {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.item-front {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-back {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.item-container:hover .item-back {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-container:hover .item-front {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.svg-top-align {
  vertical-align: text-top;
  padding-top: 20px ;
}

#loader {
  display: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}

#contact{
  padding: 200px 20px;
  /* padding-bottom: 500px; */
}

.contact-holder>a {
  display: block;
  height: 76px;
  width: 400px;
  overflow-y: hidden;
  position: relative;
}

.num1, .num2 {
  font-size: 60px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.num1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.num2 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.contact-holder>a:hover .num1 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.contact-holder>a:hover .num2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-container, .search-and-filter, .contact-holder>a{
  animation: inFromTheLeft both;
  animation-timeline: view(90% 0%);
}
.mini-title{
  animation: inFromTheLeft both;
  animation-timeline: view(90% 1%);
}
footer>*{
  animation: inFromTheLeft both;
  animation-timeline: view(99% 0%);
}
footer:nth-child(2){
  animation: inFromTheRight both;
  animation-timeline: view(99% 1%);
}

@keyframes inFromTheLeft {
  from{
    /* opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px); */
    transform: translateX(-300px)
               ;

  }
}
@keyframes inFromTheRight {
  from{
    transform: translateX(300px);
  }
}


@media (max-width: 768px) {
  
  #searchBar, #categoryDropdown {
    font-size: 18px;
  }

  #itemList > div > li {
    font-size: 50px;
  }

  .item-container {
    height: 67px;
  }

  .svg-top-align {
    -webkit-transform: scale(0.5) !important;
            transform: scale(0.5) !important;
    padding-top: 5px;
  }

  .left > a > h1 > span {
    height: 42px;
  }

  .other-svg{
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
    padding-top: 5px;
  }

  .num-holder {
    height: 18px;
  }

  .active > .top > .right > .back {
    padding: 0px 0px;
  }
  .active > .top > .right > .back > svg{
    width: 50px;
  }

  .left > a > h1 {
    font-size: 32px;
  }

  .left > p, .right > a {
    font-size: 14px;
  }

  .about-me {
    font-size: 32px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #searchBar, #categoryDropdown {
    font-size: 16px;
  }

  #itemList > div > li {
    font-size: 40px;
  }

  .item-container {
    height: 53px;
  }

  .svg-top-align { display: none;}

  .left > a > h1 > span {
    height: 37px;
  }

  .other-svg{
    display: none;
  }

  .num-holder {
    height: 15px;
  }

  .active > .top > .right > .back > svg{
    width: 40px;
  }

  .left > a > h1 {
    font-size: 28px;
  }

  .left > p, .right > a {
    font-size: 12px;
  }

  .about-me {
    font-size: 28px;
  }
}
